<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Klipper</string>
	<key>BBLMLanguageCode</key>
	<string>Klip</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.cfg</string>
		</dict>
	</array>
	<key>BBLMCanSpellCheckCodeRuns</key>
	<false/>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_\-!^:</string>
		<key>Comment Pattern</key>
		<string>#.*$</string>
		<key>String Pattern</key>
		<string>"[^"]*"|'[^']*'</string>
		<key>Function Pattern</key>
		<string>^\[(?P&lt;function_name&gt;.*)\]</string>
		<key>Keyword List</key>
		<array>
			<string>true</string><string>false</string><string>params</string><string>printer</string>
			<string>step_pin</string><string>dir_pin</string><string>enable_pin</string><string>microsteps</string>
			<string>rotation_distance</string><string>endstop_pin</string><string>position_endstop</string>
			<string>position_max</string><string>position_min</string><string>homing_speed</string>
			<string>nozzle_diameter</string><string>filament_diameter</string><string>sensor_type</string>
			<string>sensor_pin</string><string>control</string><string>pid_Kp</string><string>pid_Ki</string>
			<string>pid_Kd</string><string>min_temp</string><string>max_temp</string><string>min_extrude_temp</string>
			<string>run_current</string><string>hold_current</string><string>stealthchop_threshold</string>
			<string>uart_pin</string><string>tx_pin</string><string>select_setting</string><string>rename_existing</string>
			<string>gcode:</string><string>variable_</string><string>description:</string>
			<string>SET_GCODE_VARIABLE</string><string>SAVE_GCODE_STATE</string><string>RESTORE_GCODE_STATE</string>
			<string>GET_POSITION</string><string>SET_GCODE_OFFSET</string><string>SET_VELOCITY_LIMIT</string>
			<string>TEMPERATURE_WAIT</string><string>SET_HEATER_TEMPERATURE</string><string>SET_FAN_SPEED</string>
			<string>QUERY_ENDSTOPS</string><string>QUERY_PROBE</string><string>PROBE_ACCURACY</string>
			<string>BED_MESH_CALIBRATE</string><string>BED_MESH_PROFILE</string><string>G32</string>
		</array>
		<key>Predefined Symbol List</key>
		<array>
			<string>stepper_x</string><string>stepper_y</string><string>stepper_z</string>
			<string>extruder</string><string>heater_bed</string><string>mcu</string><string>fan</string>
			<string>heater_fan</string><string>tmc2209</string><string>tmc2130</string><string>probe</string>
			<string>bltouch</string><string>display</string><string>gcode_macro</string><string>include</string>
			<string>PAUSE</string><string>RESUME</string><string>CANCEL_PRINT</string>
			<string>START_PRINT</string><string>END_PRINT</string><string>LOAD_FILAMENT</string>
			<string>UNLOAD_FILAMENT</string><string>_CLIENT_VARIABLE</string><string>_TOOLHEAD_PARK_PAUSE_CANCEL</string>
			<string>MAINS_PARAMS</string><string>PARK_MACRO</string>
		</array>
	</dict>
</dict>
</plist>
