
[include Macros/Pause_Resume_Cancel_FilamentSensor.cfg}
[include Toolhead_EBB42.cfg]

[virtual_sdcard]
path:
on_error_gcode: CANCEL_PRINT

[mcu]
canbus_uuid:
canbus_interface: can0
restart_method: command

[mcu scanner]        
canbus_uuid: 0ca8d67388c2 
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
#    adjust to suit your scanner, if using usb change to serial

###############################################################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4000                            # Max (set after input shaper)
max_z_velocity: 15                         # Max 15 for 12V, increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor MCU]		# Manta M8P temp
sensor_type: temperature_mcu

[temperature_sensor Pi_CM4]	# Raspberry Pi temp
sensor_type: temperature_host

###############################################################################
#	X/Y Stepper Settings
###############################################################################
## X Stepper on Motor1 (B Motor)
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^PF4
position_min: 0
position_endstop: 250
position_max: 250
homing_speed: 50		# Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC13
interpolate: True
run_current: 0.8		# Max 1.2
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on Motor2(A Motor) 
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: ^PF3
position_min: 0
position_endstop: 250
position_max: 250
homing_speed: 50		# Max 100 
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True
run_current: 0.8    #Max 1.2
sense_resistor: 0.110
stealthchop_threshold: 0

###############################################################################
#		Z Stepper Settings
###############################################################################

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
rotation_distance: 4     # Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
microsteps: 32
endstop_pin: ^PF2
position_endstop: -0.5		# After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_max: 250
position_min: -2.5
homing_speed: 8.0		# Leadscrews are slow, 10 is a recommended max
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 0.6		# Max 1.2
sense_resistor: 0.110
stealthchop_threshold: 0

## Z1 Stepper - Rear  on Motor5
[stepper_z1]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
rotation_distance: 4		# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: true
run_current: 0.6		# Max 1.2
sense_resistor: 0.110
stealthchop_threshold: 0

## Z2 Stepper - Front Right on Motor6
[stepper_z2]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11
rotation_distance: 4		# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PG10
interpolate: true
run_current: 0.6		# Max 1.2
sense_resistor: 0.110
stealthchop_threshold: 0

##############################################################################
#		Bed Heater
##############################################################################

[heater_bed]
heater_pin: PA1		# SSR Pin - HE1
sensor_type: 
sensor_pin: PB1
pwm_cycle_time: 0.02088		# 47.9Hz
#pwm_cycle_time: 0.02227		# 44.9Hz
max_power: 0.9 
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#		Fan Control, for fans connected to M8P
#####################################################################

[fan fan0]		# Fan0, electronics bay fan
pin: PF7
kick_start_time: 0.5
off_below: 0.10

[fan fan1]		# Fan1, electronics bay fan
pin: PF9
kick_start_time: 0.5
off_below: 0.10

[heater_fan chamber]		# Fan2, chamber exhaust fan
pin: PF6
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

[heater_fan nevermore]		# Fan3, internal chamber filter
pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0

#[heater_fan fan4]		# Fan4
#pin: PA4
#tachometer_pin: PC13

#[heater_fan fan5]		# Fan5
#pin: PA6
#tachometer_pin: PC14

#[heater_fan fan6]		# Fan6
#pin: PA2
#tachometer_pin: PC15

###############################################################################
#		LED Control
###############################################################################

[output_pin caselight]		# Chamber Lighting - white LED
pin: PA3
pwm:true
shutdown_value: 0
value: 0.5		# 50% brightness, too bright at 100
cycle_time: 0.01  

#####################################################################
#         Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800
[safe_z_home]
## XY Location of the Z Endstop Switch
## Update -10,-10 to the XY coordinates of your endstop pin 
## (such as 157,305) after going through Z Endstop Pin
## Location Definition step.
home_xy_position:125, 125		# 170,170
speed:100
z_hop:10

[z_tilt]
z_positions:
    -50, 18
    125, 298
    300, 18
points:
    30, 5
    125, 195
    220, 5

speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.005		# 0.0075

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 38, 20
mesh_max: 238, 233
probe_count: 7, 7

#####################################################################
#         Macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    Z_TILT_ADJUST
    G28
    ## For 250mm build
    G0 X125 Y125 Z30 F7200		# F3600
    
   



